tmp/*
backup/*
undo/*
user_plugins/*
lua/logger.lua
lua/init.lua
lua/package-utils.lua
lua/keybindings.lua
lua/packages.lua
lua/utils.lua
lua/lsp-configs.lua
lua/runners.lua
lua/specs.lua
lua/logger.lua
lua/globals.lua
lua/configs.lua
lua/debug.lua
lua/dap-config.lua
lua/repl.lua
plugin/*
sessions/*
vim/*
.vdoom.d/compiled/*
*tmp
*swp
*~
